@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');


:root {
  --font-family: 'Nunito Sans', sans-serif;
  --color-deep-plum: rgb(103, 49, 71);
  --color-creamy-orange: rgb(255, 165, 0);
  --color-biscotti-beige: rgb(245, 233, 211);
  --color-tuscan-red: rgb(124, 48, 48);
  --color-celadon-green: rgb(172, 225, 175);
  --color-mustard-yellow: rgb(253, 184, 19);
  --color-sage-green: rgb(104, 133, 92);
  --color-mint-green: rgb(189, 252, 201);
  --color-deep-green: rgb(9, 56, 19);
}